In [23]:
edad = 23

In [24]:
type(edad)

int

In [25]:
edad

23

In [26]:
edad_str = input("Edad")

Edad23

In [27]:
edad_str

'23'

In [28]:
type(edad_str)

str

In [29]:
edad_str = edad

In [30]:
type(edad_str)

int

In [21]:
edad = edad_str

In [22]:
type(edad)

str

In [31]:
bin(192)

'0b11000000'

In [32]:
bin(6)

'0b110'

In [15]:
a = "1234"

In [16]:
type(a)

str

In [17]:
a = 1234

In [18]:
type(a)

int

In [12]:
numero = 5
contador = 1

sumatorio = 0
factorial = 1

while contador <= numero:
    if contador % 2 == 0:
        sumatorio = sumatorio + contador
    else:
        factorial = factorial * contador
    contador = contador + 1
    
print(sumatorio)
print(factorial)

6
15

In [25]:
a = 34.4

In [26]:
a = a + 4

In [23]:
type(a)

tuple

In [28]:
type(2//2)

int

In [29]:
a = 0.000045

In [30]:
a

4.5e-05

In [31]:
4.5*10**-5

4.5e-05

In [32]:
3456.7

3456.7

In [33]:
231232132131231.312312321312

231232132131231.3

In [34]:
error = True

In [42]:
numero1 = 3
numero2 = 3

comparacion = (numero1 == numero2)
type(comparacion)

print(comparacion)

True

In [50]:
comparacion = numero1 == numero2 
if comparacion:
    print("es 3")

es 3

In [51]:
print(2+2)

4

In [53]:
print(True - 1)

0

In [62]:
booleano = True
temperatura = 27.4
edad = 22
edad_str = input("edad: ")
type(edad_str)

edad: 22a

str

In [63]:
edad_int = int(edad_str)

ValueError: invalid literal for int() with base 10: '22a'

In [60]:
if edad_str > 33:
    print("a")

TypeError: '>' not supported between instances of 'str' and 'int'

In [61]:
if edad_int > 33:
    print("a")

In [66]:
numero_entero = int (23.4)
numero_entero

23